# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore

# Node
node_modules
npm-debug.log

# Build, cache
.cache
.esm-cache
.eslintcache
.sass-cache
.tmp
dist

# Env settings / local env files
.env
.env.local
.env.*.local

# Code coverage
coverage
.nyc_output
.coverage

# Editors
.vscode/*
!.vscode/settings.json

# TEMP
_fixtures
.temp
TEMP
.history
