:root {
	--color-black-0: #00000000;
	--color-black-50: #F5F5F5;
	--color-black-100: #CCCCCC;
	--color-black-200: #999999;
	--color-black-300: #666666;
	--color-black-400: #333333;
	--color-black-500: #000000;
}
