on: push
name: Build, Test, and Publish
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ '10', '12', '13' ]
    steps:
    - uses: actions/checkout@v2
    - name: Build
      uses: actions/setup-node@v2.4.0
      with:
        node-version: ${{ matrix.node }}
    - run: npm install
    - run: npm test
